.dars {
  /* P2357 - Desktop */
  position: relative;
  width: 1440px;
  height: 2262px;
  background: rgb(250, 250, 250);
}
.header-container {
  /* Rectangle */
  position: absolute;
  width: 1440px;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  /* margin-top: 100px;
  margin-left: 1000px; */
}
.header-link {
  /* Rectangle */
  position: absolute;
  width: 163px;
  height: 44px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 22px;

  background: linear-gradient(
    134.71deg,
    rgb(51, 211, 94) -43.027%,
    rgb(42, 182, 217) 56.553%
  );
  margin-top: 18px;
  margin-left: 1145px;
}
.link {
  /* Request Invite */
  position: absolute;
  width: 94px;
  height: 28px;
  left: 20.25%;
  right: 22.09%;
  top: 8px;
  bottom: 8px;
  color: rgb(255, 255, 255);
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.header-text {
  /* Group 2 */
  position: relative;
  width: 331px;
  height: 17px;
  margin-left: 635px;
  margin-top: 30px;
  display: flex;
}
.text {
  /* Careers */
  /* position: absolute;
  width: 51px;
  height: 16px;
  left: 84.59%; */
  right: 0%;
  top: 1px;
  bottom: 0;
  color: rgb(149, 151, 165);
  font-family: PublicSans;
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: -0.11px;
  text-align: left;
  display: flex;
  margin-left: 30px;
}

.logo {
  /* logo */
  position: absolute;
  width: 138.76px;
  height: 20px;
  left: 165px;
  right: 1136.24px;
  top: 33px;
  bottom: 27px;
}
.desc {
  /* Group 5 */
  position: absolute;
  width: 447px;
  height: 316px;
  left: 165px;
  right: 828px;
  top: 250px;
  bottom: 1696px;
}
.desc-text {
  /* Next generation digi */
  position: absolute;
  width: 394px;
  height: 128px;
  left: 0%;
  right: 11.86%;
  top: 0;
  bottom: 188px;
  color: rgb(45, 49, 77);
  font-family: Public Sans;
  font-size: 56px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
}
.text-center {
  /* Take your financial */
  position: absolute;
  position: relative;
  width: 447px;
  height: 84px;
  left: 0%;
  right: 0%;
  top: 152px;
  bottom: 80px;
  color: rgb(149, 151, 165);
  font-family: PublicSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.28px;
  text-align: left;
}

.img {
  /* Group 37 */
  position: absolute;
  margin-top: 265px;
  width: 800px;
  height: 837.99px;
  left: 640px;
  right: -571px;
  top: -180px;
  bottom: 1404.01px;
  background: url("../img/telefon.png ");
}

.main-container {
  /* Rectangle */
  position: absolute;
  width: 1440px;
  height: 676px;
  left: 0;
  right: 0;
  top: 736px;
  bottom: 850px;
  background: rgb(244, 245, 247);
  display: flex;
}
.text-shrif {
  /* Why choose Easybank? */
  position: absolute;
  width: 411px;
  height: 64px;
  left: 0%;
  right: 35.28%;
  top: 0;
  bottom: 72px;
  color: rgb(45, 49, 77);
  font-family: Public Sans;
  font-size: 40px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.71px;
  text-align: left;
  margin-top: 96px;
  margin-left: 165px;
}
.text-p {
  /* We leverage Open Ban */
  position: absolute;
  width: 635px;
  height: 56px;
  left: 0%;
  right: 0%;
  top: 80px;
  bottom: 0;
  color: rgb(149, 151, 165);
  font-family: PublicSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.28px;
  text-align: left;
  margin-top: 160px;
  margin-left: 165px;
}
.main-logo-text {
  /* Group 24 */

  left: 165px;
  right: 1020px;
  top: 1040px;
  bottom: 944px;
  margin-top: 360px;
  margin-left: 75px;
}
.img-main {
}
.qism {
  /* Group 19 */
  position: relative;
  width: 255px;
  height: 166px;
}
.h6 {
  /* Online Banking */
  position: absolute;
  width: 160px;
  height: 28px;
  left: 0%;
  right: 37.25%;
  top: 0;
  bottom: 138px;
  color: rgb(45, 49, 77);
  font-family: Public Sans;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -0.43px;
  text-align: left;
  margin-top: 30px;
}

.p-teg {
  /* Our modern web and m */
  position: absolute;
  width: 255px;
  height: 112px;
  left: 0%;
  right: 0%;
  top: 54px;
  bottom: 0;
  color: rgb(149, 151, 165);
  font-family: PublicSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.25px;
  text-align: left;
  margin-top: 30px;
}

.rasim {
  /* Rectangle */
  position: absolute;
  width: 1440px;
  height: 676px;
  left: 0;
  right: 0;
  top: 736px;
  bottom: 850px;
}
.asl {
  color: rgb(45, 49, 77);
  font-family: Public Sans;
  font-size: 50px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.71px;
  text-align: left;
  margin-top: 792px;
  margin-left: 160px;
}
.qism2 {
  /* Group 30 */
  position: absolute;
  width: 1110px;
  height: 395px;
  left: 165px;
  right: -165px;

  margin-top: 92px;
  margin-left: 60px;
}
.qism3 {
  /* Group 29 Copy 2 */
  position: relative;
  width: 255px;
  height: 395px;
}
.qism4 {
  /* Rectangle Copy 4 */
  position: absolute;
  width: 255px;
  height: 200px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 40.37%;
}
.qism5 {
  color: rgb(149, 151, 165);
  font-family: PublicSans;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.16px;
  text-align: left;
  
  margin-left: 60px;
}
